<!DOCTYPE html>
<html>
<head>
  <title>eShop</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="vue">
    <header>
      <input type="text" class="goods-search" v-model="searchLine"/>
      <button class="search-button" type="button" v-on:click="filterGoods() ">Искать</button>    
      <button class="cart-button" type="button">Корзина</button>
      <div class="basket"></div>
    </header>
    <main>
      <div class="goods-list">
        <div class="goods-item" v-for="good in filteredGoods">
          <h3>{{ good.product_name }}</h3>
          <p>{{ good.price }}</p>
          <button id ="addToCart" data-product="{'1': '${this.product_name}', '2': ${this.price}" >Add to Cart</button></div>
        </div>
      </div>
      <!-- <div class="form-submit">
        <form>
          <p>Name</p>
          <input type="text" class="name" />
          <p>Phone</p>
          <input type="text" class="phone" />
          <p>Mail</p>
          <input type="text" class="mail" />
          <p>Text</p>
          <input type="text" class="text" />
          <button type="submit">Отправить</button>
        </form>
        <form action="" class="subscribeForm">
          <input type="text" placeholder="Enter Your Email">
          <button>Subscribe</button>
      </form>
      </div> -->
    </main>

  </div>  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="script.js"></script>
  <!-- <script src="basket.js"></script> -->
</body>
</html>